body{
    margin: 0%;
}

span{
    color: orange;
}

.hero-section{
    display: flex;

}
.half-width{
    width: 50%;
}
.first-div{
    padding: 100px 30px;
}

.first-div h1 {
    font-weight: 700;
    font-size: 50px;
}
.first-div p{
    font-family: 'Courier New',;
    font-weight: 400;
    font-size: 18px;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(orange, tomato);
    color: azure;
    padding: 10px 20px;
    border-radius: 30px;
}

.about-me{
    display: flex;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.me-description{
    padding: 30px 40px;
    text-align: justify;
}

.me-description p{
    font-family: 'Courier New',;
    font-weight: 400;
    font-size: 18px;
}
.recipie{
    padding-top: 100px;
    padding-bottom: 50px;
}
.recipie h1, p{
    text-align: center;
    }
.recipie-item{
    display: flex;
    margin-top: 50px;
}

.item1{
    width: 40%;
    margin-left: 5%;
    padding-top: 3%;
    box-shadow: 10px 10px 30px gray;
    border-radius: 5%;
}
.item1 img{
    padding-left: 20%;
}

.item2 img{
    padding-left: 20%;
}

.item2{
    width: 40%;
    margin-left: 5%;
    padding-top: 3%;
    margin-right: 5%;
    box-shadow: 10px 10px 30px gray;
    border-radius: 5%;
}


.counter{
    display: flex;
    box-shadow: 5px 5px 15px gray;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
}

#counter-item1{
    width: 30%;
    text-align: center;
}
#counter-item2{
    width: 30%;
    text-align: center;
}

#counter-item3{
    width: 30%;
    text-align: center;
}







.footer{
    background-color: black;
    color: azure;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 100px;
}

